**/.project
*.a
*.cbp
*.dll*
*.dylib*
*.gch
*.idea
*.log
*.pc
*.so*
*.swo
*.swp
*.user
*~
.cmake/*
/*.sh
/CMakeDoxy*
/CPack*
/_CPack_Packages/
/build/
/build-*/
/cmake-build-*/
/install_manifest.txt
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
core*
!*core/
.ipynb_*
__pycache__
dist
*.egg-info
.eggs
python/tests/test-calibration.json
python/tests/test-write.aedat4
